/* Header */
@media (max-width: 900px) {
}
@media (max-width: 768px) {
  .header-content {
    /* padding: 0px 20px; */
  }

  .header-nav {
    display: none;
  }
  .view-all {
    display: none;
  }
  .crd-wrapper {
    text-align: center;
  }

  .card-1,
  .card-2 {
    margin: 10px auto;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .main-content {
    flex-direction: column-reverse;
    padding: 0px 24px;
    text-align: center;
    row-gap: 30px;
    border: 2px solid red;
    margin-top: 33px;
  }

  ..flex-room {
    flex-wrap: wrap;
    text-align: center;
  }

  .txt-rm {
    flex-wrap: wrap;
    max-width: 344px;
    max-height: 455px;
  }

  h1 {
    font-size: 32px;
    line-height: 40px;
    width: 312px;
    margin: 0px auto;
  }

  p {
    max-width: 328px;
    min-height: 96px;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .profile-img {
    margin-top: 0px;
    margin-left: 0px;
  }

  .image-1,
  .image-2,
  .image-3 {
    margin-top: 15px;
    min-width: 339px;
    min-height: 230px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 28px;
  }
}
